
# AI Stuff
OPENAI_API_KEY=string
OPENAI_API_BASE_URL=string

QDRANT_URL=string
QDRANT_API_KEY=string

# DB Stuff
CONN_STRING=string

# Kinde setup
KINDE_CLIENT_ID=string
KINDE_CLIENT_SECRET=string
KINDE_ISSUER_URL=string
KINDE_SITE_URL=string
KINDE_POST_LOGOUT_REDIRECT_URL=string
KINDE_POST_LOGIN_REDIRECT_URL=string
